In [2]:
import pandas as pd

fd1 = pd.read_csv("data/processed/feeders_1.csv")
fd1["TimeStamp"] = pd.to_datetime(fd1["TimeStamp"], errors="coerce")
fd2 = pd.read_csv("data/processed/feeders_2.csv")

In [3]:
fd1.dtypes, fd2.dtypes

(TimeStamp          datetime64[ns]
 Feed Factor PD1           float64
 Feed Factor PD2           float64
 Feed Factor PD3           float64
 Feed Factor PD4           float64
 Feed Factor PD5           float64
 Feed Factor PD7           float64
 Screw RPM PD1             float64
 Screw RPM PD2             float64
 Screw RPM PD3             float64
 Screw RPM PD4             float64
 Screw RPM PD5             float64
 Screw RPM PD7             float64
 VolMode PD1               float64
 VolMode PD2               float64
 VolMode PD3                 int64
 VolMode PD4               float64
 VolMode PD5                 int64
 VolMode PD7                 int64
 Massflow PD 1             float64
 Massflow PD 2             float64
 Massflow PD 3             float64
 Massflow PD 4             float64
 Massflow PD 5             float64
 Massflow PD 7             float64
 %  PD1                    float64
 %  PD2                    float64
 %  PD3                    float64
 dtype: object,
 %  PD4                      float64
 %  PD5                      float64
 %  PD7                      float64
 Estimated weight IBC PS1    float64
 Estimated weight IBC PS2    float64
 Estimated weight IBC PS3    float64
 Estimated weight IBC PS4    float64
 Estimated weight IBC PS5    float64
 Estimated weight IBC PS7    float64
 RefAct PD1                  float64
 RefAct PD2                  float64
 RefAct PD3                  float64
 RefAct PD4                  float64
 RefAct PD5                    int64
 RefAct PD7                    int64
 Net Weight PD1              float64
 Net Weight PD2              float64
 Net Weight PD3              float64
 Net Weight PD4              float64
 Net Weight PD5              float64
 Net Weight PD7              float64
 Totalizer PD1               float64
 Totalizer PD2               float64
 Totalizer PD3               float64
 Totalizer PD4               float64
 Totalizer PD5               float64
 Totalizer PD7               float64
 dtype: object)

In [4]:
fd1_selected = fd1[
    [
        "TimeStamp",
        "VolMode PD1",
        "VolMode PD2",
        "VolMode PD3",
        "VolMode PD4",
        "VolMode PD5",
        "VolMode PD7",
    ]
]
fd2_selected = fd2[
    ["RefAct PD1", "RefAct PD2", "RefAct PD3", "RefAct PD4", "RefAct PD5", "RefAct PD7"]
]

# Step 2: Joining the DataFrames based on TimeStamp
merged_data = pd.concat([fd1_selected, fd2_selected], axis=1)
merged_data

,TimeStamp,VolMode PD1,VolMode PD2,VolMode PD3,VolMode PD4,VolMode PD5,VolMode PD7,RefAct PD1,RefAct PD2,RefAct PD3,RefAct PD4,RefAct PD5,RefAct PD7
0,2018-01-12 08:43:00,1.0,1.0,1,1.0,1,1,0.0,0.0,0.0,0.0,0,0
1,2018-01-12 08:43:00,1.0,1.0,1,1.0,1,1,0.0,0.0,0.0,0.0,0,0
2,2018-01-12 08:43:00,1.0,1.0,1,1.0,1,1,0.0,0.0,0.0,0.0,0,0
3,2018-01-12 08:43:00,1.0,1.0,1,1.0,1,1,0.0,0.0,0.0,0.0,0,0
4,2018-01-12 08:43:00,1.0,1.0,1,1.0,1,1,0.0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
439839,2018-01-17 11:01:00,0.0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,0,0
439840,2018-01-17 11:01:00,0.0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,0,0
439841,2018-01-17 11:01:00,0.0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,0,0
439842,2018-01-17 11:01:00,0.0,0.0,0,0.0,0,0,0.0,0.0,0.0,0.0,0,0
439843,2018-01-17 11:01:00,1.0,1.0,1,1.0,1,1,0.0,0.0,0.0,0.0,0,0

In [5]:
merged_data.dtypes

TimeStamp      datetime64[ns]
VolMode PD1           float64
VolMode PD2           float64
VolMode PD3             int64
VolMode PD4           float64
VolMode PD5             int64
VolMode PD7             int64
RefAct PD1            float64
RefAct PD2            float64
RefAct PD3            float64
RefAct PD4            float64
RefAct PD5              int64
RefAct PD7              int64
dtype: object

In [6]:
# merged_data.to_csv("data/processed/merged_data.csv", index=False)

In [7]:
unique_values = pd.Series(merged_data["VolMode PD1"])
value_counts = unique_values.value_counts()
value_counts

VolMode PD1
0.00     344300
1.00      41549
15.95     32397
14.50     21598
Name: count, dtype: int64

In [8]:
unique_values = pd.Series(merged_data["VolMode PD2"])
value_counts = unique_values.value_counts()
value_counts

VolMode PD2
0.000     343389
1.000      42460
15.675     32397
14.250     21598
Name: count, dtype: int64

In [9]:
unique_values = pd.Series(merged_data["VolMode PD3"])
value_counts = unique_values.value_counts()
value_counts

VolMode PD3
0    381152
1     58692
Name: count, dtype: int64

In [10]:
unique_values = pd.Series(merged_data["VolMode PD4"])
value_counts = unique_values.value_counts()
value_counts

VolMode PD4
0.0    340898
0.3     53995
1.0     44951
Name: count, dtype: int64

In [11]:
unique_values = pd.Series(merged_data["VolMode PD5"])
value_counts = unique_values.value_counts()
value_counts

VolMode PD5
0    402321
1     37523
Name: count, dtype: int64

In [12]:
unique_values = pd.Series(merged_data["VolMode PD7"])
value_counts = unique_values.value_counts()
value_counts

VolMode PD7
0    402321
1     37523
Name: count, dtype: int64

In [13]:
unique_values_vol_pd1 = pd.Series(merged_data["VolMode PD1"]).value_counts()
unique_values_vol_pd2 = pd.Series(merged_data["VolMode PD2"]).value_counts()
unique_values_vol_pd3 = pd.Series(merged_data["VolMode PD3"]).value_counts()
unique_values_vol_pd4 = pd.Series(merged_data["VolMode PD4"]).value_counts()
unique_values_vol_pd5 = pd.Series(merged_data["VolMode PD5"]).value_counts()
unique_values_vol_pd7 = pd.Series(merged_data["VolMode PD7"]).value_counts()
unique_values_vol_pd1, unique_values_vol_pd2, unique_values_vol_pd3, unique_values_vol_pd4, unique_values_vol_pd5, unique_values_vol_pd7

(VolMode PD1
 0.00     344300
 1.00      41549
 15.95     32397
 14.50     21598
 Name: count, dtype: int64,
 VolMode PD2
 0.000     343389
 1.000      42460
 15.675     32397
 14.250     21598
 Name: count, dtype: int64,
 VolMode PD3
 0    381152
 1     58692
 Name: count, dtype: int64,
 VolMode PD4
 0.0    340898
 0.3     53995
 1.0     44951
 Name: count, dtype: int64,
 VolMode PD5
 0    402321
 1     37523
 Name: count, dtype: int64,
 VolMode PD7
 0    402321
 1     37523
 Name: count, dtype: int64)

In [14]:
unique_values_ref_pd1 = pd.Series(merged_data["RefAct PD1"]).value_counts()
unique_values_ref_pd2 = pd.Series(merged_data["RefAct PD2"]).value_counts()
unique_values_ref_pd3 = pd.Series(merged_data["RefAct PD3"]).value_counts()
unique_values_ref_pd4 = pd.Series(merged_data["RefAct PD4"]).value_counts()
unique_values_ref_pd5 = pd.Series(merged_data["RefAct PD5"]).value_counts()
unique_values_ref_pd7 = pd.Series(merged_data["RefAct PD7"]).value_counts()
unique_values_ref_pd1, unique_values_ref_pd2, unique_values_ref_pd3, unique_values_ref_pd4, unique_values_ref_pd5, unique_values_ref_pd7

(RefAct PD1
 0.000     378730
 15.675     32397
 14.250     21598
 1.000       7119
 Name: count, dtype: int64,
 RefAct PD2
 0.0    378598
 5.5     32397
 5.0     21598
 1.0      7251
 Name: count, dtype: int64,
 RefAct PD3
 0.00    378172
 1.65     32397
 1.50     21598
 1.00      7677
 Name: count, dtype: int64,
 RefAct PD4
 0.00    376341
 0.55     32397
 0.50     21598
 1.00      9508
 Name: count, dtype: int64,
 RefAct PD5
 0    437983
 1      1861
 Name: count, dtype: int64,
 RefAct PD7
 0    438177
 1      1667
 Name: count, dtype: int64)

In [28]:
unique_values = pd.Series(merged_data["RefAct PD1"])
value_counts = unique_values.value_counts()
value_counts

RefAct PD1
0.000     378730
15.675     32397
14.250     21598
1.000       7119
Name: count, dtype: int64

In [29]:
unique_values = pd.Series(merged_data["RefAct PD2"])
value_counts = unique_values.value_counts()
value_counts

RefAct PD2
0.0    378598
5.5     32397
5.0     21598
1.0      7251
Name: count, dtype: int64

In [30]:
unique_values = pd.Series(merged_data["RefAct PD3"])
value_counts = unique_values.value_counts()
value_counts

RefAct PD3
0.00    378172
1.65     32397
1.50     21598
1.00      7677
Name: count, dtype: int64

In [31]:
unique_values = pd.Series(merged_data["RefAct PD5"])
value_counts = unique_values.value_counts()
value_counts

RefAct PD5
0    437983
1      1861
Name: count, dtype: int64

In [32]:
unique_values = pd.Series(merged_data["RefAct PD7"])
value_counts = unique_values.value_counts()
value_counts

RefAct PD7
0    438177
1      1667
Name: count, dtype: int64

In [33]:
temp = merged_data[merged_data["VolMode PD1"] == 14.50]
temp

,TimeStamp,VolMode PD1,VolMode PD2,VolMode PD3,VolMode PD4,VolMode PD5,VolMode PD7,RefAct PD1,RefAct PD2,RefAct PD3,RefAct PD4,RefAct PD5,RefAct PD7
299390,2018-01-15 20:00:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0
299391,2018-01-15 20:00:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0
299392,2018-01-15 20:00:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0
299393,2018-01-15 20:00:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0
299394,2018-01-15 20:00:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
331781,2018-01-16 04:59:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0
331782,2018-01-16 04:59:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0
331783,2018-01-16 04:59:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0
331784,2018-01-16 04:59:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0
331785,2018-01-16 04:59:00,14.5,14.25,0,0.3,0,0,14.25,5.0,1.5,0.5,0,0